<html>
<head>
    <title>IRIS Prediction</title>
</head>
<body>
    <h1>IRIS PREDICTION</h1>
    <h2>Using Random Forest</h2>
    <form method="POST" action="/predict">
        <p>Sepal Length</p>
        <input name="sl" required>
        <p>Sepal Width</p>
        <input name="sw" required>
        <p>Petal Length</p>
        <input name="pl" required>
        <p>Petal Width</p>
        <input name="pw" required>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

